<nav class="navbar flex justify-between items-center p-4 bg-gray-800 text-white">
    <ul class="flex items-center gap-4">
        <li class="text-lg font-medium cursor-pointer">
            <a routerLink="/home" routerLinkActive="text-white bg-blue-500 px-5 py-2 rounded-lg" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="text-lg font-medium cursor-pointer">
            <a routerLink="/user_by_id" routerLinkActive="text-white bg-blue-500 px-5 py-2 rounded-lg">User by ID</a>
        </li>
    </ul>
    @if (userName()) {
        <div class="flex items-center gap-4">
            <span class="flex items-center">Usuario: {{ userName() }}</span>
            <button (click)="reset()" class="px-4 py-1 text-lg bg-blue-500 hover:bg-blue-600 text-white rounded">Reset</button>
        </div>
    }
</nav>